<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Wallpoet&family=Inter:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='creat.css') }}">
    <title>Create</title>
</head>

<body>

<div class="container">
    <span class="not-found" data-text="Not Found">Not Found</span>
    <span class="subtitle">Do you want to join?</span>

    <form action="/create" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <input type="hidden" name="username" value="{{username}}">
        <input type="hidden" name="password" value="{{password}}">

        <div class="buttons">
            <button class="btn btn-yes" type="submit">Yes</button>
            <button class="btn btn-no" type="button" onclick="window.location.href='/'">No</button>
        </div>

    </form>
</div>

</body>

</html>
